/* the order of the files is important here */
/* first my CSS resst, to remove all the standards of the browsers like margin, padding and stuff */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 2nd my variables for all  */
h1, p, h4 {
  align-self: center; }

h4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 115px; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 50px; }

p {
  margin-bottom: 25px;
  font-weight: 600;
  line-height: 30px; }

.white {
  color: #fff; }

@media only screen and (max-width: 500px) {
  h1 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    align-self: center; }
  p {
    margin-bottom: 15px;
    font-weight: 600;
    line-height: 10px;
    align-self: center; }
  .white {
    color: #fff; } }

body {
  background-color: #fcf0f0; }

main {
  margin: 100px auto;
  width: 50%;
  display: flex; }

@media only screen and (max-width: 500px) {
  main {
    margin: 100px auto;
    width: 50%;
    display: flex;
    flex-direction: column; } }

section {
  background-color: white;
  margin: 10px;
  padding: 20px;
  height: 900px;
  box-shadow: 0 10px 15px #7a7070;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.right-card {
  background-image: url("../ronaldo-arthur-vidal-66241.jpg");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center; }

.left-card {
  background-image: url("../paint.jpg");
  background-size: cover;
  background-position: center; }
